.container-card{
  background: #eeeeff;
    border: none;
    border-radius: 1em;
    box-shadow: -0.2em -0.2em 0.2em #a08e8e, 0.2em 0.2em 0.4em #000;
    display: grid;
    padding: 1em;
}

.container-card img{
  margin: 0 auto;
}

.container-card span{
  color: #868080;
  text-align: left;
}

.container-card h2{
  color: #43454d;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}